<html>
    <head>
        <title>My first time in using Django with Django Grils </title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
            This is my first time to PyCon. And I am sure it won't be the last time. Thanks to invitation from Django Girls, allowed me to gain this truly life-changing experience.
        </div>

        <div>
            <p>published: 27.10.2017, 00:01 </p>
            <h2><a href="">My first day in PyCon2017</a></h2>
            <p>  After my first daily workshop with the Django Girls, I am now first time ever able to build a blog of my own. Here, I have to say thanks to Ann, the magic person whom put this workshop together; Tom *Viner*, the amazing coach who's been so patient to answer my questions at every stage (With so many Tom's around the day, I felt the need of stating your surname =P, hope you don't mind, you are the only person who knows this website right now, so if you do, please tell me.) And of course the whole PyCon committee and everyone who is making this whole thing happening. I don't know what to say. So maybe let's sing together? Good night world! </p>
        </div>

        <div>
            <p>published: 28.10.2017, 00:01</p>
            <h2><a href="">My second day in PyCon2017</a></h2>
            <p>This is to record my second day in PyCon. I felt like the whole python community deserve a huge thanks from my and my friend whom had came with me to PyCon. Not to mention the lovely tea break, lunches and dinner restaurant recommendations the committee had provided us. The most important thing is the help we receive after an unexpected accommendation trouble. Really need to say, guys, you have lived more than what the PyCon code of conduct says!! And I am so looking foward to my third day right now. =P</p>
        </div>
    </body>
</html>